ion-content {
  --padding-top: 40px;
}

.search-overlay {
  padding: 20px;
  width: 100%;

  // --search-opacity: 1;

  // &::before {
  //   content: "";
  //   opacity: var(--search-opacity, 0.75);
  //   background: white;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  // }

  ion-row, ion-item {
    margin-top: 40px;
    box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 15%);
    background: #fff;
    border-radius: 8px;
  }

  ion-item {
    ion-menu-button {
      margin-inline-end: 10px;
    }
  }

  ion-avatar {
    width: 40px;
    height: 40px;
  }
}

ion-refresher {
  margin-top: 120px;
}

ion-list {
  margin-top: 80px;
}

.wrapper-empty-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
  height: calc(100% - 80px);
}


// PART 2
ion-fab-button {
  width: 140px;
  height: 48px;
  --border-radius: 20px;
  --box-shadow: 5px 12px 30px -8px rgba(0, 0, 0, 0.53);

  ion-icon {
    font-size: 20px;
  }

}

ion-fab-button::part(native) {
  color: var(--ion-color-primary);
  font-weight: 500;
  font-size: 16px;
}
